<div class="board">
    @for (int i = 0; i < 9; i++)
    {
        int squareNumber = i;
        <Square @key = squareNumber 
                value=values[squareNumber]
                ClickHandler = "@(() => HandleClick(squareNumber))"/>
    }
</div>

@code{
    private char[] values = new char[9];
    protected override void OnInitialized()
        {
            values = new char[9]{
                ' ', ' ', ' ',
                ' ', ' ', ' ',
                ' ', ' ', ' '
            };

        }
    
    private void HandleClick(int i)
    {
        values[i] = values[i] == 'O' ? 'X' : 'O';
    }
}
        protected override Task